.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: yellowgreen;
}
h1.fonto {
  font-family: math;
}
p.textalign {
  color: #000000;
  padding-bottom: 15px;
  position: relative;
  animation: mymove 6s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 180px;}
}
.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 5em;
  margin-top: 5em;

}
a.nash {
  margin-left: 2em;
  margin-bottom: -30px;
}

.about .btn--outline {
  margin-right: 1em;
 
 
    margin-left: 18em;
    margin-top: -2.5em;

}

input#email {
  background-color: lightyellow;
  color:black;
}
p#demo {
  color:red;
  margin-left: 2em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
